<div class="container">
    <h1>Node.js/Express API Example</h1>
    <h2>Available Routes:</h2>
<a href="https://api-nodejs-example-02.herokuapp.com/api/v1.0/precipitation" target="_blank">https://api-nodejs-example-02.herokuapp.com/api/v1.0/precipitation</a><br>
<a href="https://api-nodejs-example-02.herokuapp.com/api/v1.0/stations" target="_blank">https://api-nodejs-example-02.herokuapp.com/api/v1.0/stations</a><br>
<a href="https://api-nodejs-example-02.herokuapp.com/api/v1.0/tobs" target="_blank">https://api-nodejs-example-02.herokuapp.com/api/v1.0/tobs</a><br><br>

The last two API endpoints contain the wildcard values <br> for start and end dates (e.g., ... /temp/2017-06-01/2017-06-30). <br>
Any dates between 2010 and 2017 can be queried by<br> modifying [start] and [end] (e.g., 2017-06-01).<br>
The result is displayed as [minimum, average, and maximum] <br>temperature in Fahrenheit.<br>
<a href="https://api-nodejs-example-02.herokuapp.com/api/v1.0/temp/2017-06-01" target="_blank">https://api-nodejs-example-02.herokuapp.com/api/v1.0/temp/[start]</a><br>
<a href="https://api-nodejs-example-02.herokuapp.com/api/v1.0/temp/2017-06-01/2017-06-30" target="_blank">https://api-nodejs-example-02.herokuapp.com/api/v1.0/temp/[start]/[end]</a>
</div>